#wrapperForColor {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./sinterklaas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#wrapperForColorWindow {
  background-color: rgba(38, 38, 38, .9);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#background-progress {
  width: 100%;
  background-color: #282828;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: #D8D8D8;
  font-size: 10vw;
  font-family: 'Noticia Text', serif;
  text-align: center;
}


.container .item {

}

.hidden {
  display: none;
}

